# Default ignored files
/shelf/
/workspace.xml

# Datasource local storage ignored files
/../../../../:\IDEA\LeafVeinRes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/target/
/out/
/artifacts/

*.jar
*.war
*.nar
*.zip
*.tar.gz
*.rar
